@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg-base: oklch(0.975 0 0);
  --bg-grid-color: oklch(0.925 0 0);
  --bg-editor: #fafafa;
  --bg-accent: oklch(0.97 0 0);
  --bg-muted: oklch(0.97 0 0);
  --bg-popover: oklch(1 0 0);
  --bg-select: oklch(0.975 0 0 / 0.5);
  --bg-toggle-on: oklch(0 0 0 / 0.07);
  --bg-toggle-hover: oklch(0 0 0 / 0.035);
  --bg-switch-unchecked: oklch(0.8 0 0);
  --bg-tooltip: oklch(0.95 0.005 240);
  --fg-base: oklch(0.145 0 0);
  --fg-lighter: oklch(0.4 0 0);
  --fg-accent: oklch(0.205 0 0);
  --fg-muted: oklch(0.556 0 0);
  --fg-popover: oklch(0.145 0 0);
  --fg-tooltip: oklch(0.18 0.01 250);
  --border-base: oklch(0.922 0 0);
  --border-select: oklch(0.922 0 0);
  --stroke-base: oklch(0.825 0 0);
  --stroke-stronger: oklch(0.575 0 0);
  --ring: oklch(0.87 0 0);
  --editor-blue: #4078f2;
}

.dark {
  --bg-base: oklch(21.61% 0.0117 285.38);
  --bg-grid-color: oklch(0.25 0 0);
  --bg-editor: #282c34;
  --bg-accent: oklch(0.269 0 0);
  --bg-muted: oklch(0.269 0 0);
  --bg-popover: oklch(21.61% 0.0117 285.38);
  --bg-select: oklch(0.269 0 0 / 0.5);
  --bg-toggle-on: oklch(1 0 0 / 0.07);
  --bg-toggle-hover: oklch(1 0 0 / 0.04);
  --bg-switch-unchecked: oklch(0.4 0 0);
  --bg-tooltip: oklch(30% 0.02 270);
  --fg-base: oklch(0.985 0 0);
  --fg-lighter: oklch(0.725 0 0);
  --fg-accent: oklch(0.985 0 0);
  --fg-muted: oklch(0.708 0 0);
  --fg-popover: oklch(0.985 0 0);
  --fg-tooltip: oklch(0.85 0.015 260);
  --border-base: oklch(0.269 0 0);
  --border-select: oklch(0.269 0 0);
  --stroke-base: oklch(0.375 0 0);
  --stroke-stronger: oklch(0.625 0 0);
  --ring: oklch(0.439 0 0);
  --editor-blue: #61afef;
}

@theme inline {
  --font-sans:
    var(--font-app-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --font-mono:
    var(--font-app-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --color-bg-base: var(--bg-base);
  --color-bg-editor: var(--bg-editor);
  --color-bg-accent: var(--bg-accent);
  --color-bg-muted: var(--muted);
  --color-bg-popover: var(--bg-popover);
  --color-bg-select: var(--bg-select);
  --color-bg-toggle-on: var(--bg-toggle-on);
  --color-bg-toggle-hover: var(--bg-toggle-hover);
  --color-bg-switch-unchecked: var(--bg-switch-unchecked);
  --color-bg-switch-checked: #50a14f;
  --color-bg-tooltip: var(--bg-tooltip);
  --color-fg-base: var(--fg-base);
  --color-fg-lighter: var(--fg-lighter);
  --color-fg-accent: var(--fg-accent);
  --color-fg-popover: var(--fg-popover);
  --color-fg-muted: var(--fg-muted);
  --color-fg-tooltip: var(--fg-tooltip);
  --color-border-base: var(--border-base);
  --color-border-select: var(--border-select);
  --color-stroke-base: var(--stroke-base);
  --color-stroke-stronger: var(--stroke-stronger);
  --color-ring: var(--ring);
  --color-link: var(--editor-blue);
  --radius-sm: --spacing(1.5);
  --radius-md: --spacing(2);
  --shadow-tooltip: 0 0 --spacing(1) oklch(0.1 0.005 260 / 0.25);
}

@layer base {
  * {
    @apply border-base outline-ring/50;
  }
}

@utility bg-* {
  background-color: --value(--color-bg-*);
}

@utility fg-* {
  color: --value(--color-fg-*);
}

@utility border-* {
  border-color: --value(--color-border-*);
}

@utility stroke-* {
  stroke: --value(--color-stroke-*);
}

@utility focus-ring {
  @apply ring-ring ring-3;
}

@utility bg-grid {
  --bg-grid-size: --spacing(6);
  --bg-grid-stroke-width: 1px;
  --bg-grid-stroke-dash: 6px;
  --bg-grid-stroke-gap: 3px;

  background-image:
    radial-gradient(
      ellipse 80% 100%,
      transparent 0%,
      var(--bg-base) 100%
    ),
    linear-gradient(
    to bottom,
    transparent var(--bg-grid-stroke-gap),
    var(--bg-base) var(--bg-grid-stroke-gap)
  ),
    linear-gradient(
    to right,
    var(--bg-grid-color) var(--bg-grid-stroke-width),
    transparent var(--bg-grid-stroke-width)
  ),
    linear-gradient(
    to right,
    transparent var(--bg-grid-stroke-gap),
    var(--bg-base) var(--bg-grid-stroke-gap)
  ),
    linear-gradient(
    to bottom,
    var(--bg-grid-color) var(--bg-grid-stroke-width),
    transparent var(--bg-grid-stroke-width)
  );

  background-size:
    100% 100%,
    var(--bg-grid-stroke-dash) var(--bg-grid-stroke-dash),
    var(--bg-grid-size) var(--bg-grid-size),
    var(--bg-grid-stroke-dash) var(--bg-grid-stroke-dash),
    var(--bg-grid-size) var(--bg-grid-size);

  background-attachment: local;
}

/* source code styles */
@utility source-pre {
  @apply h-screen overflow-auto py-2 px-4;
}

@utility source-code {
  @apply font-mono;
}

@utility shiki {
  &, & span {
    background-color: var(--shiki-light-bg);
    color: var(--shiki-light);

    @variant dark {
      background-color: var(--shiki-dark-bg);
      color: var(--shiki-dark);
    }
  }
}
